.search {
    border: 1px solid rgb(115, 103, 240) !important;
    &:focus {
        transform: translateX(-5px);
    }
}

.bg-action {
    color: white;
    padding: 0.2rem;
    border-radius: 5px;
    background: linear-gradient(118deg, rgb(115, 103, 240), rgba(115, 103, 240, 0.7)) !important;
}
